<% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path %>
<% end %>

<div id="masonry-pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
   <div class="box">
     <%= image_tag pin.image.url(:medium)%> 
     <%= pin.description %>
     <%= pin.user.email if pin.user %>
     <%= link_to 'Show', pin %>
      <% if pin.user == current_user %>
       <%= link_to 'Edit', edit_pin_path(pin) %>
       <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
   </div> 
  <% end %>
</div>


