<!DOCTYPE html>
<html>
<head>
  <title>Sushi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Mobile first -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- render just means puts content of that partial here -->  
  <%= render 'layouts/header' %>	
	<div class= "container">
		<%= yield %>
	</div>	
</body>
</html>
